@model Speditions

@{
    ViewData["Title"] = "Add spedition";
}

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info pl-3">Add Spedition</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="start_place"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="start_place" class="form-control" />
                        <span asp-validation-for="start_place" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="end_place"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="end_place" class="form-control" />
                        <span asp-validation-for="end_place" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="TruckId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="TruckId" class ="form-control" asp-items="ViewBag.TruckId"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="TrailerId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="TrailerId" class ="form-control" asp-items="ViewBag.TrailerId"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="DriverId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="DriverId" class ="form-control" asp-items="ViewBag.DriverId"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-success w-100" value="Create" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-info w-100">
                                Return
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}