@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager;

@if (!User.Identity.IsAuthenticated)
{
    <a class="btn btn-success my-2 my-sm-0" asp-controller="Account" asp-action="Login">
        Login
    </a>
    <span style="padding: 5px;"></span>
    <a class="btn btn-primary my-2 my-sm-0" asp-controller="Account" asp-action="Register">
        Rejestracja
    </a>
}
else
{
    @*Sekcja progilu użytkownika*@
    @if (User.IsInRole("Admin"))
    {
        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" id="profile-btn" data-toggle="dropdown" aria-expanded="false">Witaj @UserManager.GetUserName(User)</button>
            <ul class="dropdown-menu" aria-labelledby="profile-btn">
                <li>
                    <a class="dropdown-item" asp-controller="Account" asp-action="Users">Użytkownicy</a>
                </li>
            </ul>
        </div>
    }
    else
    {
        <button class="btn btn-success" type="button" id="profile-btn" aria-expanded="false" disabled>Witaj @UserManager.GetUserName(User)</button>
    }
    <span style="padding: 5px;"></span>
    <form asp-controller="Account" asp-action="Logout">
        <button class="btn btn-danger my-2 my-sm-0">
            Wyloguj
        </button>
    </form>
}
